@media (min-width: 320px) {
  .search {
    display: none;
  }

  .search-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fa4747;
    border-radius: 50px;
    padding: 0 20px;
    cursor: pointer;
    color: #fafafa;
  }
}

@media (min-width: 768px) {
  .search {
    width: 50%;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    height: 50px;
    box-shadow: 0px 0px 10px #0815c2f3;
    border-radius: 50px;
  }

  .search input {
    appearance: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 5px 20px;
    width: 80%;
    border-radius: 50px;
  }

  .search input::placeholder {
    color: #cecaca;
  }

  .search-btn:hover {
    background-color: #f05d5d;
  }
}

@media (min-width: 1024px) {
  .search {
    width: 40%;
  }
}

@media (min-width: 2560px) {
    .search {
    height: 70px;
  }

  .search input::placeholder {
    font-size: 30px;
  }

  .search-btn {
    font-size: 24px;
  }
}
